<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://www.croopz.com">Croopz</a>
  is an innovative web application to strengthen your company and achieve your goal !
  <br><br>
  Think easy... Think fast
  <br><br>
  As <a href="http://en.wikipedia.org/wiki/Thinking,_Fast_and_Slow"> Daniel Kahneman </a> said in "Thinking, Fast and Slow" book :<br>
  "Our minds are not structured to assess the likelihood of rare events. We overestimate the visible ones, such as tsunamis and terrorist attacks, and ignore the ones of which we are unaware."
</p>

<div align="center">
	<iframe width="640" height="401" src="http://www.powtoon.com/embed/e7TZ1IHjKO7/" frameborder="0" allowfullscreen></iframe>
</div>