<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Please contact me directly if you need information or enhancement :
  <br> <a href="mailto:lionel.comandini@croopz.com">Email Me</a>
   
  <br><br>This application is a Beta Version.
</p>