<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>


<h3>Quick User guide for the first run :</h3><br>

 1) Sign in with login/password provided by the Administrator<br><br>

 2) Select a process<br><br>

 3) Select a Defect > Submit !<br><br>

<h3>How to make a suggestion :</h3><br>

 1) Click on Make a Defect suggestion on Process page<br><br>

 2) Enter your suggestion > Submit !<br><br>


<h3>Quick Admin guide for the first run :</h3><br>

 1) Sign Up, your account will be granted with Admin role<br><br>

 2) Create your Company - Company > Create a new company<br><br>

 3) Create your team - Users > Create a new user<br><br>

 4) Create a the first process to follow - Process > Create a new process<br><br>

 5) Create defects based on the process selected - Select the process > Create a new defect (button)<br><br>


</p>