
<% if user_signed_in? %>
  <% if current_user.company_id == nil %>
    <div class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>
          Warning! Please <%= link_to "Create a new company", new_company_path %>
        </h4>
      </div>
    <% end %>
  <div class="row">
    <div class="span12">
        <%= render 'shared/target_list' %>
    </div>
  </div>

<% else %>

  <div class="center hero-unit"> 

    <h1>Simplify the data collection</h1><br>
          <h2>Create efficient action plans, increase profitability and keep everyone in the loop.
      <br>Gain time so you can focus on your business.
      <br>
      <br> 
      </h2>
      <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>

      <!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-large" data-toggle="modal">Demo</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Why should I implement this innovative web application ?</h3>
  </div>
  <div class="modal-body">
    <p></p>
    <iframe width="480" height="311" src="http://www.powtoon.com/embed/g5CIIdkuCh2/" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    Click on play ! <br> If you do not see anything, <a href="http://www.powtoon.com/embed/g5CIIdkuCh2/">Click here</a> 
  </div>
</div>


<br>
<br> 
<br>
<br>

<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42177820-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>

