<h1>Listing users</h1>

<table class="table table-hover">

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email , user %></td>
    <% if current_user.admin? && !current_user?(user) %>
      <td><%= link_to 'Edit', edit_user_path(user), class: "btn" %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />