
<h1>New occurrence</h1>

<div class="row-fluid">
  <div class="span4">

  	<p id="notice"><%= notice %></p>

<%= render 'form' %>

</div>

  <div class="span8">
    <p>
       <%#= high_chart("my_id", @h) %>
    </p>
  </div>
</div>

